<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunramics</title>
    <link rel="icon" type="image/x-icon" href="img/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/aboutus.css')}}">
</head>
</head>

<body>
    <style>
        * {
            box-sizing: border-box;
        }
        html, body {
            width: 100%;
            overflow-x: hidden; 
            margin: 0;          
        }
    </style>
    <header class="header">
        <div class="slider">
            <div class="slide slide-1 active">
                <div class="overlay"></div>
            </div>
            <div class="slide slide-2">
                <div class="overlay"></div>
            </div>
            <div class="slide slide-3">
                <div class="overlay"></div>
            </div>
            <div class="slide slide-4">
                <div class="overlay"></div>
            </div>
            <div class="slide slide-5">
                <div class="overlay"></div>
            </div>
            <div class="slide slide-6">
                <div class="overlay"></div>
            </div>
        </div> 

            <div class="logo">
                <img src="{{ url_for('static', filename = 'img/sunramics_logo.png')}}" alt="">
            </div>

            <div class="slider-dots">
                <div class="dot active" onclick="setSlide(0)"></div>
                <div class="dot" onclick="setSlide(1)"></div>
                <div class="dot" onclick="setSlide(2)"></div>
                <div class="dot" onclick="setSlide(3)"></div>
                <div class="dot" onclick="setSlide(4)"></div>
                <div class="dot" onclick="setSlide(5)"></div>
            </div>

            <div class="header-content">
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home') }}" >Home</a></li>
                        <li><a href="{{ url_for('about_us') }}" class="active" >About Us</a></li>
                        <li><a href="{{ url_for('services') }}">Services</a></li>
                        <li><a href="{{ url_for('plates') }}">Plates</a></li>
                        <li><a href="{{ url_for('vases') }}">Vases</a></li>
                        <li><a href="{{ url_for('mugs') }}">Mugs</a></li>                        
                    </ul>
                </nav>
            </div>

            <div class="header-icons">
                <a href="#">
                    <i class="ri-shopping-bag-line"></i>
                </a>
                {% if session.get("email") %}
                    <a href="{{ url_for('logout') }}">
                        <i class="ri-logout-box-line"></i>
                    </a>
                {% else %}
                    <a href="{{ url_for('login') }}">
                        <i class="ri-user-fill"></i>
                    </a>
                {% endif %}
            </div>
    </header>

    <section class="main">
        <section class="box1">
            <img class="coffbn1" src= "{{ url_for('static', filename='img/aboutus/Group 31.png')}}"  alt="">
            <img class="coffbn2" src= "{{ url_for('static', filename='img/aboutus/Group 32.png')}}" alt="">
            <div>
                <h1>About us</h1>
                <p>Welcome to <b>Sunramics!</b> We are a unique blend of pottery and coffee, offering you an opportunity
                    to create personalized pottery. Come and experience the joy of making something truly your own!</p>
            </div>
        </section>

        <section class="box2">
            <img class="heart1" src="{{ url_for('static', filename='img/aboutus/Group 8.png')}}" alt="">
            <img class="coffbn3" src= "{{ url_for('static', filename='img/aboutus/Group 31.png')}}" alt="">
            <img class="mugs1" src="{{ url_for('static', filename='img/aboutus/mugs.png')}}" alt="">

            <div class="text1">
                <p>we offer a creative space where you can make your own pottery pieces and enjoy coffee or some sweets served in your creation. </p>
            </div>
        </section>

        <section class="box3">
            <img class="sunflower1" src= "{{ url_for('static', filename='img/aboutus/sunflower1.png')}}" >
            <img class="coffbn4" src= "{{ url_for('static', filename='img/aboutus//coffbn4.png')}}"  >
            <img class="coffbn5" src= "{{ url_for('static', filename='img/aboutus//coffbn5.png')}}" >

            <h1>Our Mission</h1>
            <p>Our mission is to provide a unique space where people can come together to create, relax. Drink coffee or show their creative side with pottery art.  We want to make pottery accessible for everyone.</p>
        </section>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="contact-info">
                <h3>Contact us:</h3>
                <p>Phone: +374-55-14-15-96</p>
                <p>Instagram: @sunramics_coffee</p>
                <p>E-mail: Sunramics_coffee@gmail.com</p>
            </div>
            <div class="operating-hours">
                <h3>Operating Hours:</h3> <br>
                <p>Monday - Friday: 9:00 AM - 7:00 PM</p>
                <p>Saturday - Sunday: 10:00 AM - 6:00 PM</p>
            </div>
        </div>
    </footer>

    <!-- Connected JS Files -->
    <script src="{{ url_for('static', filename = 'js/slider.js')}}"></script>
</body>

</html>